<h2>Trainer Name: <a href='/trainers/<%= @trainer.name %>'></a></h2>
<h2>Pic:</h2> <img src="<%= @trainer.img_url %>">
  <h2>Level:  <%= @trainer.level %></h2>

  <h3><a href='/trainers/<%= @trainer.id %>/edit'>Edit this trainer</a></h3>
